<div>
    <input type="checkbox" name="@nameof(TodoItemDto.IsComplete)" value="@item.IsComplete"/>
    <h3>@item.Name</h3>
    <h4>@item.CreatedAt</h4>
</div>

@code {
    [Parameter]
    public TodoItemDto item { get; set; }
}
