@using Microsoft.IdentityModel.JsonWebTokens
<AuthorizeView>
    <Authorized>
        <a href="#">@context.User.FindFirst(c => c.Type == JwtRegisteredClaimNames.Email)!.Value</a>
        <a href="/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
