<AuthorizeView>
    <Authorized>
        <a href="/profile">Hello, @context.User.Identity!.Name</a>
        <a href="/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
