@implements IDisposable
@inject ITodoItemService todoItemService

<CascadingValue Value="todoItemService" IsFixed="true">
    @if (isLoading)
    {
        <div>
            loading...
        </div>
    }
    else
    {
        <div class="todoitem-wrapper" >
            <div class="accordion">
                @foreach (var itemGroup in itemsDict.OrderBy(t => t.Key))
                {
                    <TodoItemGroup @key="itemGroup.Key" Date="itemGroup.Key" Items="itemGroup.Value" />
                }
            </div>
        </div>
        <TodoItemWrite class="input-group my-3" />
    }
</CascadingValue>

@code {
    private bool isLoading = true;
    private Dictionary<DateTime, List<TodoItemDto>> itemsDict;

    public void Dispose()
    {
        todoItemService.ItemInitedEvent -= StateChange;
        todoItemService.ItemDeletedEvent -= StateChange;
        todoItemService.ItemAddedEvent -= StateChange;
    }

    protected override async void OnInitialized()
    {
        todoItemService.ItemInitedEvent += StateChange;
        todoItemService.ItemDeletedEvent += StateChange;
        todoItemService.ItemAddedEvent += StateChange;

        itemsDict = (await todoItemService.InitItemsAsync()) ?? throw new ArgumentNullException(nameof(itemsDict));
        isLoading = false;
        StateHasChanged();
    }

    private void StateChange(object? sender, EventArgs e)
    {
        StateHasChanged();
    }
}
