<EditForm Model="Model" OnValidSubmit="AddItem" @attributes="FormAttribute">
    <InputText @bind-Value="Model.NewItemName" class="form-control"/>
    <button type="submit" class="btn btn-outline-primary">추가</button>
</EditForm>

@code {
    [CascadingParameter]
    public ITodoItemService TodoItemService { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> FormAttribute { get; set; }

    private FormModel Model = new();

    public async void AddItem()
    {
        if (string.IsNullOrEmpty(Model.NewItemName))
        {
            return;
        }

        await TodoItemService.AddItemAsync(Model.NewItemName);
        Model.NewItemName = "";
        StateHasChanged();
    }

    public class FormModel
    {
        public string NewItemName { get; set; } = "";
    }
}
