@inject IJSRuntime jsRuntime

<div class="d-flex align-items-center">
    <input type="checkbox" class="form-check" @bind="Item.IsComplete" @oninput="async () => { await TodoItemService.ToggleIsCompleteAsync(Item); Item.IsComplete ^= true; }" />
    <input class="fs-5 w-100 mx-3 py-0" type="text" @ref="name" @bind-value="newName" @oninput="() => nameChanged = true" @onkeydown="NameKeydown" @onblur="ChangeName" />
    <span class="fs-5">@Item.CreatedAt.ToString("HH:mm")</span>
    <button type="button" class="btn" @onclick="Delete">
        <span class="oi oi-x"></span>
    </button>
</div>

@code {
    [Parameter]
    public TodoItemDto Item { get; set; }

    [CascadingParameter]
    public ITodoItemService TodoItemService { get; set; }

    private ElementReference name;

    private string newName = string.Empty;
    private bool nameChanged = false;

    private async void NameKeydown(KeyboardEventArgs keyboardEventArgs)
    {
        if (keyboardEventArgs.Key.Equals("Enter", StringComparison.OrdinalIgnoreCase))
        {
            await jsRuntime.InvokeVoidAsync("Blur", name);
        }
    }

    private async void ChangeName()
    {
        if (string.IsNullOrEmpty(newName))
        {
            await jsRuntime.InvokeVoidAsync("Alert", "내용을 작성해 주세요");
            newName = Item.Name;
            StateHasChanged();
            return;
        }

        if (nameChanged)
        {
            await TodoItemService.EditItemNameAsync(Item, newName);
            nameChanged = false;
        }
    }

    private async void Delete()
    {
        if (await jsRuntime.InvokeAsync<bool>("Confirm", "삭제 하시겠습니까?"))
        {
            await TodoItemService.DeleteItemAsync(Item);
        }
    }

    protected override void OnParametersSet()
    {
        newName = Item.Name;
    }
}
