<div class="accordion-item">
    <div class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-panel-@Date.ToString("yyMMdd")">
            @Date.ToString("yy.MM.dd")
        </button>
    </div>

    <div id="accordion-panel-@Date.ToString("yyMMdd")" class="accordion-collapse collapse show">
        <button @onclick="SortItemByCreatedAt">날짜</button>
        <button @onclick="SortItemByName">이름</button>

        <div class="accordion-body">
            @for (int i = 0; i < Items.Count; ++i)
            {
                <TodoItemView @key="Items[i].Id" Item="Items[i]" />
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public DateTime Date { get; set; }
    [Parameter]
    public List<TodoItemDto> Items { get; set; }
    [CascadingParameter]
    public ITodoItemService TodoItemService { get; set; }

    private bool IsAscending = true;
    private bool IsOrderChanged = false;
    private bool IsInit = true;

    public void SortItemByName()
    {
        TodoItemService.SortItems(Date, (t1, t2) => t1.Name.CompareTo(t2.Name) * (IsAscending ? 1 : -1));
        IsOrderChanged = true;
        IsAscending ^= true;
        StateHasChanged();
    }

    public void SortItemByCreatedAt()
    {
        TodoItemService.SortItems(Date, (t1, t2) => t1.CreatedAt.CompareTo(t2.CreatedAt) * (IsAscending ? 1 : -1));
        IsOrderChanged = true;
        IsAscending ^= true;
        StateHasChanged();
    }
}
